


*{
    margin: 0px;
    padding: 0px;
	font-family: 'Roboto Slab', serif;
  }
  
  /* Media query for screens smaller than 768px
  @media (max-width: 768px) {
    .mydiv {
      padding: 10px;
    }
  } */
  
  /* Media query for screens smaller than 576px */
  /* @media (max-width: 576px) {
    .mydiv {
      font-size: 14px;
    
    }
  } */
  
  body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #bbbbbb;
  }
  
  footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #2d2e33;
    padding: 60px 10%;
  }
  
  ul{
    list-style: none;
  }
  
  .footer-col{
    width: 25%;
  }
  
  .footer-col h4{
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #f1bc0d;
    text-transform: capitalize;
  }
  
  .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #27c0ac;
    height: 2px;
    width: 40px;
  }
  
  ul li:not(:last-child){
    margin-bottom: 8px;
  }
  
  ul li a{
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
  }
  
  ul li a:hover{
    color: white;
    padding-left: 2px;
  }
  
  .links a{
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  .links a:hover{
    color: #4d4f55;
    background-color: white;
  }
  
  @media(max-width: 740px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }
  
    .footer-col h4::before{
        all: unset;
    }
  }
  
  @media(max-width: 555px){
    .footer-col{
        width: 100%;
    }
  }
  .custom-modal .modal-content {
    background-color: #2d2a2a;}
    .custom-modal .modal-header {
      color: #175d09;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
    }
    .custom-modal .modal-body {
      background-color: #175d09;
      color: aliceblue;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .custom-modal .modal-footer {
      background-color: #0c0c0cf8;
      color: #175d09;
      text-align: center;
    }
    .font1{
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .font2{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .font3{
      font-family: 'Times New Roman', Times, serif;
    }
   
    @media(max-width: 555px){
      .footer-coll{
          width: 100%;
      }
    }
    @media(max-width: 555px){
      .tt{
          width: 100%;
          text-align: left;
          padding-left: 30px;
      }
    }
    @media(max-width: 555px){
      .lin{
          width: 100%;
          text-align: left;
      }
    }
    @media(max-width: 555px){
      .t{
          width: 100%;
          text-align: left;
          padding: 30px;
      }
    }
    .tt{
      margin-left: -30px;
    }
  
    @media(max-width: 555px){
      .h{
          width: 100%;
          text-align: left;
          padding: 36px;
      }
    }
    @media(max-width: 555px){
      .linkk{
          width: 100%;
          text-align: left;
          padding: 30px;
      }
    }
    @media(max-width: 555px){
      .fh{
          width: 100%;
          text-align: left;
          padding-right: -10px;
          margin-bottom: -20px;
      }
    }
  
    @media(max-width: 555px){
      .hh{
          width: 100%;
          text-align: center;
      }
    }
  
  .bg{
    background-color: rgb(202, 210, 202);
  }
    
  .imgf{
    width:3%;
    height: 3%;
    
  }
 